@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 20px 1fr;
  grid-template-columns: 1fr 3fr 1fr;
}
header .Top--Line {
  background-color: #0a0a2a;
  grid-row: 1/2;
  grid-column: 1/4;
}
header .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: 2/3;
  grid-column: 2/3;
}
header .logo__image {
  width: 80%;
  margin: 5px auto;
}
header .logo__search {
  width: 90%;
  margin: 5px auto;
}
header .logo__search .logo__form input, header .logo__search .logo__form footer .contact--form button, footer .contact--form header .logo__search .logo__form button {
  width: 100%;
  padding: 1px 5px;
  border: solid 1px rgba(5, 21, 16, 0.5);
  border-radius: 8px;
  font-size: 12px;
  font-family: "Lato";
  color: rgba(5, 21, 16, 0.5);
}

.menu {
  background-color: #0a0a2a;
  display: grid;
  grid-template-areas: "Galeria " "SobreMi" "Proyectos" "Contacto";
  justify-content: center;
}
.menu__galeria {
  width: 12em;
  text-align: center;
  grid-area: Galeria;
}
.menu__galeria__link, .menu__contacto a, .menu__proyectos a, .menu__sobre--mi a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: "Lato";
  letter-spacing: 1px;
}
.menu div:hover {
  opacity: 50%;
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
}
.menu__sobre--mi {
  width: 100%;
  text-align: center;
  grid-area: SobreMi;
}
.menu__proyectos {
  width: 100%;
  text-align: center;
  grid-area: Proyectos;
}
.menu__contacto {
  width: 100%;
  text-align: center;
  grid-area: Contacto;
}
.main--grid--galery {
  width: 100%;
  height: auto;
  margin: 20px 0px;
  display: grid;
  grid-template-areas: ".		imgUno	." ".		imgDos	." ".		imgTres	." ".		imgCuatro	." ".		imgCinco	 	." ".		imgSeis 	 	.";
  grid-row-gap: 20px;
  justify-items: stretch;
}
.main--grid--galery__first, .main--grid--galery__sixth, .main--grid--galery__fifth, .main--grid--galery__fourth, .main--grid--galery__third, .main--grid--galery__second {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  grid-area: imgUno;
}
.main--grid--galery__first img, .main--grid--galery__sixth img, .main--grid--galery__fifth img, .main--grid--galery__fourth img, .main--grid--galery__third img, .main--grid--galery__second img {
  width: 200px;
  align-self: center;
  height: 200px;
  align-self: center;
}
.main--grid--galery__first img :hover, .main--grid--galery__sixth img :hover, .main--grid--galery__fifth img :hover, .main--grid--galery__fourth img :hover, .main--grid--galery__third img :hover, .main--grid--galery__second img :hover {
  opacity: 50%;
}
.main--grid--galery__second {
  grid-area: imgDos;
}
.main--grid--galery__second img {
  width: 200px;
  align-self: center;
  height: 200px;
  align-self: center;
}
.main--grid--galery__second img :hover {
  opacity: 50%;
}
.main--grid--galery__third {
  grid-area: imgTres;
}
.main--grid--galery__third img {
  width: 200px;
  align-self: center;
  height: 200px;
  align-self: center;
}
.main--grid--galery__third img :hover {
  opacity: 50%;
}
.main--grid--galery__fourth {
  grid-area: imgCuatro;
}
.main--grid--galery__fourth img {
  width: 200px;
  align-self: center;
  height: 200px;
  align-self: center;
}
.main--grid--galery__fourth img :hover {
  opacity: 50%;
}
.main--grid--galery__fifth {
  grid-area: imgCinco;
}
.main--grid--galery__fifth img {
  width: 200px;
  align-self: center;
  height: 200px;
  align-self: center;
}
.main--grid--galery__fifth img :hover {
  opacity: 50%;
}
.main--grid--galery__sixth {
  grid-area: imgSeis;
}
.main--grid--galery__sixth img {
  width: 200px;
  align-self: center;
  height: 200px;
  align-self: center;
}
.main--grid--galery .galery--imgs:hover {
  opacity: 50%;
}

footer {
  width: 100vw;
  height: auto;
  padding: 10px 0px;
  background-color: #0a0a2a;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: stretch;
}
footer .social--media {
  width: 29%;
  height: auto;
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
footer .social--media__facebook, footer .social--media__twitter, footer .social--media__instagram, footer .social--media__youtube {
  width: 25px;
  height: 25px;
  align-self: center;
  grid-row: 1/2;
  grid-column: 1/2;
}
footer .social--media__facebook :hover, footer .social--media__twitter :hover, footer .social--media__instagram :hover, footer .social--media__youtube :hover {
  opacity: 80%;
  width: 30px;
  height: 30px;
}
footer .social--media__facebook img, footer .social--media__twitter img, footer .social--media__instagram img, footer .social--media__youtube img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
footer .social--media__youtube {
  grid-row: 1/2;
  grid-column: 2/3;
}
footer .social--media__youtube img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
footer .social--media__instagram {
  grid-row: 2/3;
  grid-column: 1/2;
}
footer .social--media__instagram img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
footer .social--media__twitter {
  grid-row: 2/3;
  grid-column: 2/3;
}
footer .social--media__twitter img {
  width: 100%;
  height: 100%;
}
footer .contact--form {
  width: 36.26%;
  height: 100%;
  color: white;
  font-family: "Lato";
  font-size: 10px;
  display: grid;
  row-gap: 10px;
  grid-template-rows: 10px 15px 15px 10px;
  grid-template-columns: 50% 50%;
  justify-items: stretch;
  align-items: center;
}
footer .contact--form__alert, footer .contact--form__developer {
  width: 100%;
  height: 10px;
  grid-row: 1/2;
  grid-column: 1/3;
}
footer .contact--form input, footer .contact--form button {
  width: 100%;
  height: 15px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  font-family: "Lato";
  font-size: 10px;
  grid-row: 2/3;
  grid-column: 1/3;
}
footer .contact--form button {
  grid-row: 3/4;
  color: white;
}
footer .contact--form button:hover {
  cursor: pointer;
}
footer .contact--form__developer {
  grid-row: 4/5;
  font-size: 0.75em;
}

@media screen and (min-width: 600px) {
  .logo {
    width: 420px;
  }
  .logo__search {
    height: 30px;
  }
  .logo__search .logo__form {
    height: 100%;
  }
  .logo__search .logo__form input, .logo__search .logo__form footer .contact--form button, footer .contact--form .logo__search .logo__form button {
    height: 25px;
  }

  .menu {
    background-color: #0a0a2a;
    height: 30px;
    display: grid;
    grid-template-areas: "Galeria SobreMi Proyectos Contacto";
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .menu__galeria {
    width: 5em;
    text-align: center;
    grid-area: Galeria;
  }
  .menu__galeria__link, .menu__sobre--mi a, .menu__proyectos a, .menu__contacto a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Lato";
    letter-spacing: 1px;
  }
  .menu div:hover {
    opacity: 50%;
    border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  }
  .menu__sobre--mi {
    width: 5em;
    text-align: center;
    grid-area: SobreMi;
  }
  .menu__proyectos {
    width: 5em;
    text-align: center;
    grid-area: Proyectos;
  }
  .menu__contacto {
    width: 5em;
    text-align: center;
    grid-area: Contacto;
  }

  .main--grid--galery {
    width: 100%;
    height: auto;
    margin: 20px 0px;
    display: grid;
    grid-template-areas: "	imgUno      imgDos" "	imgTres     imgCuatro" "	imgCinco    imgSeis";
    grid-gap: 20px;
    justify-items: stretch;
  }
}
@media screen and (min-width: 800px) {
  header {
    width: 100%;
    height: 217px;
    display: grid;
    grid-template-rows: 27px 1fr;
    grid-template-columns: 1fr 3fr 1fr;
  }
  header .logo {
    width: 560px;
  }
  header .logo__search {
    height: 10px;
  }
  header .logo__search .logo__form {
    height: 100%;
  }
  header .logo__search .logo__form input, header .logo__search .logo__form footer .contact--form button, footer .contact--form header .logo__search .logo__form button {
    height: 35px;
  }

  .menu {
    background-color: #0a0a2a;
    height: 40px;
    display: grid;
    grid-template-areas: "Galeria SobreMi Proyectos Contacto";
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
  }
  .menu__galeria {
    width: 7em;
    text-align: center;
    grid-area: Galeria;
  }
  .menu__galeria__link, .menu__sobre--mi a, .menu__proyectos a, .menu__contacto a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Lato";
    letter-spacing: 1px;
  }
  .menu div:hover {
    opacity: 50%;
    border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  }
  .menu__sobre--mi {
    width: 7em;
    text-align: center;
    grid-area: SobreMi;
  }
  .menu__proyectos {
    width: 7em;
    text-align: center;
    grid-area: Proyectos;
  }
  .menu__contacto {
    width: 7em;
    text-align: center;
    grid-area: Contacto;
  }

  .main--grid--galery {
    width: 100%;
    height: auto;
    margin: 25px 0px;
    display: grid;
    grid-template-areas: "	imgUno      imgDos		imgTres " "	imgCuatro	imgCinco		imgSeis";
    grid-column-gap: 10px;
    grid-row-gap: 25px;
    justify-items: stretch;
  }

  .contact--form p {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1000px) {
  header {
    width: 100%;
    height: 271px;
    display: grid;
    grid-template-rows: 34px 1fr;
    grid-template-columns: 1fr 3fr 1fr;
  }
  header .logo {
    width: 700px;
  }
  header .logo__search {
    height: 12.5px;
  }
  header .logo__search .logo__form {
    height: 100%;
  }
  header .logo__search .logo__form input, header .logo__search .logo__form footer .contact--form button, footer .contact--form header .logo__search .logo__form button {
    height: 43px;
  }

  .menu {
    background-color: #0a0a2a;
    height: 50px;
    display: grid;
    grid-template-areas: "Galeria SobreMi Proyectos Contacto";
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .menu__galeria {
    width: 8.75em;
    text-align: center;
    grid-area: Galeria;
  }
  .menu__galeria__link, .menu__sobre--mi a, .menu__proyectos a, .menu__contacto a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Lato";
    letter-spacing: 1.25px;
  }
  .menu div:hover {
    opacity: 50%;
    border-bottom: solid 2.5px rgba(255, 255, 255, 0.1);
  }
  .menu__sobre--mi {
    width: 8.75em;
    text-align: center;
    grid-area: SobreMi;
  }
  .menu__proyectos {
    width: 8.75em;
    text-align: center;
    grid-area: Proyectos;
  }
  .menu__contacto {
    width: 8.75em;
    text-align: center;
    grid-area: Contacto;
  }

  .main--grid--galery {
    width: 100%;
    height: auto;
    margin: 31.25px 0px;
    display: grid;
    grid-template-areas: "	imgUno      imgDos		imgTres " "	imgCuatro	imgCinco		imgSeis";
    grid-column-gap: 12.5px;
    grid-row-gap: 31.25px;
    justify-items: stretch;
  }

  .main--grid--galery img {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 1400px) {
  header {
    width: 100%;
    height: 390px;
    display: grid;
    grid-template-rows: 49px 1fr;
    grid-template-columns: 1fr 3fr 1fr;
  }
  header .logo {
    width: 1010px;
  }
  header .logo__search {
    height: 18px;
  }
  header .logo__search .logo__form {
    height: 100%;
  }
  header .logo__search .logo__form input, header .logo__search .logo__form footer .contact--form button, footer .contact--form header .logo__search .logo__form button {
    height: 62px;
  }

  .menu {
    background-color: #0a0a2a;
    height: 72px;
    display: grid;
    grid-template-areas: "Galeria SobreMi Proyectos Contacto";
    grid-gap: 72px;
    justify-content: center;
    align-items: center;
  }
  .menu__galeria {
    width: 12.6em;
    text-align: center;
    grid-area: Galeria;
  }
  .menu__galeria__link, .menu__sobre--mi a, .menu__proyectos a, .menu__contacto a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-family: "Lato";
    letter-spacing: 1.8px;
  }
  .menu div:hover {
    opacity: 50%;
    border-bottom: solid 3.6px rgba(255, 255, 255, 0.1);
  }
  .menu__sobre--mi {
    width: 12.6em;
    text-align: center;
    grid-area: SobreMi;
  }
  .menu__proyectos {
    width: 12.6em;
    text-align: center;
    grid-area: Proyectos;
  }
  .menu__contacto {
    width: 12.6em;
    text-align: center;
    grid-area: Contacto;
  }

  .main--grid--galery {
    width: 100%;
    height: auto;
    margin: 45px 0px;
    display: grid;
    grid-template-areas: "	imgUno      imgDos		imgTres " "	imgCuatro	imgCinco		imgSeis";
    grid-column-gap: 18px;
    grid-row-gap: 45px;
    justify-items: stretch;
  }

  .main--grid--galery img {
    width: 360px;
    height: 360px;
  }

  footer {
    height: auto;
  }
  footer .social--media {
    grid-column-gap: 58px;
    grid-row-gap: 15px;
  }
  footer .social--media__facebook, footer .social--media__youtube, footer .social--media__instagram, footer .social--media__twitter {
    width: 36px;
    height: 36px;
  }
  footer .contact--form {
    row-gap: 15px;
    grid-template-rows: 15px 22px 22px 15px;
  }
  footer .contact--form__alert, footer .contact--form__developer {
    height: 15px;
  }
  footer .contact--form input, footer .contact--form button {
    height: 22px;
    padding: 2.88px;
    font-family: "Lato";
    font-size: 17px;
  }
  footer .contact--form__developer {
    font-size: 1.08em;
  }
}
.overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 0;
  left: 0;
  background: rgba(150, 150, 150, 0.5);
}

.modal {
  width: 600px;
  height: 600px;
  background: #c8c8c8;
  border-radius: 3em;
  position: absolute;
  z-index: 1;
  text-align: center;
  display: flex;
}
.modal img {
  width: 80%;
  height: 80%;
}

/*# sourceMappingURL=main--page.css.map */
