
.main--grid--galery {
	width: 100vw;
	height: auto;
	margin: 20px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	// grid-template-rows: auto auto auto;
	grid-gap: 60px 10px;
	// justify-items: stretch;

	&__first {
		width: 90%;
		margin: auto;
		grid-column:1 / 2;
		grid-row: 1 / 2;
		display: flex;
		justify-content: center;
		align-items: center;
		.hoverUno {
			width: 10%;
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			position: absolute;
			opacity: 50%;
			&:hover{
				opacity: 75%;
			}	
		}

		.galery--imgs{
			width: 90%;
			height: 407px;
		}
	}
	&__second {
		@extend .main--grid--galery__first;
		grid-column: 2 / 3;

		.hoverDos {
			width: 10%;
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			position: absolute;
			opacity: 50%;
			&:hover{
				opacity: 75%;
			}
		}
	}
	&__third {
		@extend .main--grid--galery__first;
		grid-column: 3 / 4 ;

		.hoverTres {
			width: 10%;
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			position: absolute;
			opacity: 50%;
			&:hover{
				opacity: 75%;
			}
		}
	}
	&__fourth {
		@extend .main--grid--galery__first;
		grid-row: 2 / 3 ;

		.hoverCuatro {
			width: 10%;
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			position: absolute;
			opacity: 50%;
			&:hover{
				opacity: 75%;
			}
		}

	}
	&__fifth {
		@extend .main--grid--galery__first;
		grid-row: 2 / 3 ;
		grid-column: 2 / 3;

		.hoverCinco {
			width: 10%;
			grid-column: 2 / 3;
			grid-row: 2 / 3;
			position: absolute;
			opacity: 50%;
			&:hover{
				opacity: 75%;
			}
		}
	}
	&__sixth {
		@extend .main--grid--galery__first;
		grid-row: 2 / 3 ;
		grid-column: 3 / 4;

		.hoverSeis {
			width: 10%;
			grid-column: 3 / 4;
			grid-row: 2 / 3;
			position: absolute;
			opacity: 50%;
			
			&:hover{
			opacity: 75%;
			}
		}
	}
}