.main--grid--galery {
	width: 100%;
	height: auto;
	margin: 20px 0px;
	display: grid;
	grid-template-areas:
		".		imgUno	."
		".		imgDos	."
		".		imgTres	."
		".		imgCuatro	."
		".		imgCinco	 	."
		".		imgSeis 	 	.";

	grid-row-gap: 20px;
	justify-items: stretch;
	&__first {
		width: 100%;
		height: auto;
		margin: auto;
		text-align: center;
		grid-area: imgUno;
		img {
			width: 200px;
			align-self: center;
			height: 200px;
			align-self: center;
			:hover {
				opacity: 50%;
			}
		}
	}
	&__second {
		@extend .main--grid--galery__first;
		grid-area: imgDos;
		img {
			width: 200px;
			align-self: center;
			height: 200px;
			align-self: center;
			:hover {
				opacity: 50%;
			}
		}
	}
	&__third {
		@extend .main--grid--galery__first;
		grid-area: imgTres;
		img {
			width: 200px;
			align-self: center;
			height: 200px;
			align-self: center;
			:hover {
				opacity: 50%;
			}
		}
	}
	&__fourth {
		@extend .main--grid--galery__first;
		grid-area: imgCuatro;
		img {
			width: 200px;
			align-self: center;
			height: 200px;
			align-self: center;
			:hover {
				opacity: 50%;
			}
		}
	}
	&__fifth {
		@extend .main--grid--galery__first;
		grid-area: imgCinco;
		img {
			width: 200px;
			align-self: center;
			height: 200px;
			align-self: center;
			:hover {
				opacity: 50%;
			}
		}
	}
	&__sixth {
		@extend .main--grid--galery__first;
		grid-area: imgSeis;
		img {
			width: 200px;
			align-self: center;
			height: 200px;
			align-self: center;
		}
	}
	.galery--imgs:hover {
		opacity: 50%;
	}
}
