.menu {
	background-color: $main-color;
	height: 60px;
	padding: 5px 25%; 
	// container
	display: flex;
	justify-content: center;
	&__galeria {
		margin: 10px 20px;
		&__link {
			text-decoration: none;
			color: white;
			font-size: $font-size-2 + 3;
			font-family: $font-text;
			letter-spacing: 1.5px;
		}
	}
	div{
		padding: 0px 5px;
	}
	div:hover {
		opacity: 50%;
		border-bottom: solid 3px $sombra;
	}
	&__sobre--mi {
		@extend .menu__galeria;
		a {
			@extend .menu__galeria__link;
		}
	}
	&__contacto {
		@extend .menu__galeria;
		a {
			@extend .menu__galeria__link;
		}
	}
}

@media screen and (min-width: 320px) {
	.menu {
		background-color: $main-color;
		height: 40px;
		padding: 5px; 
		&__galeria {
			margin: 10px 10px;
		}
	}
}

@media screen and (min-width: 360px)  {
	.menu {
		background-color: $main-color;
		height: 40px;
		padding: 5px; 
		&__galeria {
			margin: 10px 15px;
		}
	}
} 
@media screen and (min-width: 411px) {
	.menu {
		background-color: $main-color;
		height: 40px;
		padding: 5px; 
		&__galeria {
			margin: 10px 15px;
		}
	}
}

@media screen and (min-width: 768px) {
	.menu {
		background-color:$main-color;
		height: 40px;
		padding: 5px; 
		&__galeria {
			margin: 10px 20px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.menu {
		background-color: $main-color;
		height: 40px;
		padding: 5px 10%; 
		&__galeria {
			margin: 10px 40px;
			&__link {
				text-decoration: none;
				color: white;
				font-size: $font-size-2 + 3;
				font-family: $font-text;
				letter-spacing: 1.5px;
			}
		}
	}
}