@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: scroll;
}
$main-color: #0a0a2a;
$secondary-color: #051510;
$sombra: rgba(255, 255, 255, 10%);
$border-radius: 0px 0px 8px 8px;
$all-radius: 8px;
$font-titles: "Bebas Neue", cursive;
$font-text: "Lato";
$font-size-1: 10px;
$font-size-2: 16px;
